#mydiv {
    /* position: relative; */
    /* display: flex; */
    /* height:200px; */
    
    /* cursor: move;    */
    z-index: 0;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  #mydiv1 {
    /* position: absolute; */
    z-index: 0;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }